<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.foodlabrinth.darpal.demo5">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/foodlogo"
        android:label="Food Labrinth"
        android:roundIcon="@mipmap/foodlogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="Food Labrinth" />
        <activity
            android:name=".MainActivity"
            android:label="Food Labrinth"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        '
        <activity
            android:name=".Bookmark_restaurant.BookmarkRestaurants"
            android:label="Bookmarks">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.foodlabrinth.darpal.demo5.MainActivity" />
        </activity>
        <activity
            android:name=".Not_Decided.NotDecidedActivity"
            android:label="Not Decided? ">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.foodlabrinth.darpal.demo5.MainActivity" />
        </activity>
        <activity
            android:name=".Browse_Places.BrowsePlacesActivity"
            android:label="Browse Places">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.foodlabrinth.darpal.demo5.MainActivity" />
        </activity>
        <activity android:name=".AboutUsActivity" />
        <activity
            android:name=".Card_Animation.CardAnimationHomeActivity"
            android:label="">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.foodlabrinth.darpal.demo5.MainActivity" />
        </activity>
        <activity
            android:name=".Result_Page.ResultPageActivity"
            android:label="Here are some Restaurants....">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.foodlabrinth.darpal.demo5.MainActivity" />
        </activity>
        <activity
            android:name=".Search_Restaurant.SearchRestaurantActivity"
            android:label="">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.foodlabrinth.darpal.demo5.MainActivity" />
        </activity>
        <activity
            android:name=".Upload_Image.GalleryIntent"
            android:label="" />
        <activity android:name=".Splash_Screen.Splash_intro" />
        <activity
            android:name=".Splash_Screen.WelcomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Upload_Image.ShowImagesActivity"
            android:label="Restaurant Photos" />
        <activity android:name=".ShowTempImageActivity" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps"></activity>


        <!--Include the AdActivity configChanges and theme. -->
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />
    </application>

</manifest>